.Header {
  grid-column: 1 / -1;
  font-size: 12px;
}

.Button {
  background: none;
  border: none;
  padding: 0;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  width: 90%;
  height: 90%;
}
