.Container {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(24, 60px);
  column-gap: 4px;
  align-items: end;
  justify-items: end;
  width: 500px;
  height: 100%;
  background: white;
  position: relative;
  border: 1px solid #2d3436;
  border-radius: 8px;
}

.Hour {
  grid-column: 1;
  margin-bottom: -7px;
  font-size: 12px;
  color: #2d3436;
}

.HourMark {
  width: 100%;
  height: 1px;
  background: #2d3436;
  grid-column: 2;
}
