.Container {
  display: flex;
  width: 96%;
  grid-column: 2;
  position: absolute;
  gap: 1px;
  justify-self: flex-start;
}

.Event {
  position: relative;
  background: #a29bfe;
  flex: 1;
  border-radius: 4px;
  border: 1px solid #6c5ce7;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.Time {
  font-size: 12px;
  font-weight: 600;
}

.Title {
  font-size: 12px;
}
